﻿<ul id="spotlight-list">
    <li id="spotlight-iten" class="spotlight-title">Em destaque <i class="icon-chevron-down"></i><div id="arrow">&nbsp;</div></span>
    <li id="spotlight-iten"><a href="$Destaque1.getChildren().get(0).getData()">$Destaque1.getData()</a></span>
    #if(($Destaque2.getData().length() > 0))
        <li id="spotlight-iten"><a href="$Destaque2.getChildren().get(0).getData()">$Destaque2.getData()</a></span>
    #end
    #if(($Destaque3.getData().length() > 0))
        <li id="spotlight-iten"><a href="$Destaque3.getChildren().get(0).getData()">$Destaque3.getData()</a></span>
    #end
    #if(($Destaque4.getData().length() > 0))
        <li id="spotlight-iten"><a href="$Destaque4.getChildren().get(0).getData()">$Destaque4.getData()</a></span>
    #end
    #if(($Destaque5.getData().length() > 0))
        <li id="spotlight-iten"><a href="$Destaque5.getChildren().get(0).getData()">$Destaque5.getData()</a></span>
    #end
</ul>